@page "/customtemplate/{pageindex:int=1}"
@addTagHelper *,RazorPager
@model Samples.Pages.CustomTemplateModel

    <h1 class="text-center">Using customized pagination template</h1>
    <div class="alert alert-primary">
        <p>
            This sample demonstrates how to apply customized pagination template for RazorPager,
            the path to the template file used in this sample is Pages/RazorPager/Bootstrap.cshtml.
        </p>
        <p>本示例演示如何为RazorPager应用自定义分页模板，模板文件路径：Pages/RazorPager/Bootstrap.cshtml。</p>
    </div>
    <razorpager aria-label="Page navigation" tag-name="nav" total-item-count="Model.TotalItems"
                template-name="RazorPager/bootstrap" page-size="Model.PageSize"></razorpager>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in Model.PagedEmployees)
            {
                <tr>
                    <td>@emp.Id</td>
                    <td>@emp.FirstName</td>
                    <td>@emp.LastName</td>
                    <td>@emp.Gender</td>
                    <td>@emp.Email</td>
                </tr>
            }
        </tbody>
    </table>

    <razorpager aria-label="Page navigation" tag-name="nav" total-item-count="Model.TotalItems"
                template-name="RazorPager/bootstrap" page-size="Model.PageSize"></razorpager>
